#treeWrapper {
  width: 100%;
  height: 100vh;
}

.text {
  pointer-events: none;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.unconnected-nodes {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.draggable-node {
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: grab;
  text-align: center;
}
